html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

.movie {
    margin-top: 50px;
}

section {
    position: relative;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: 250ms all;
}

section .imageContainer {
    flex: 0 0 auto;
}

.content {
    display: none;
    position: relative;
    min-height: 200px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 20px;
}


.content-display {
    display: block;
}


.content-display {
    display: block;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.content div {
    margin: 10px;
}


#content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    padding: 10px;
    /* width: 35px;; */
    border: 1px solid lightgrey;
    border-radius: 45%;
    left: 20px;
}


.imageContainer {
    transition: 250ms all;
    width: 300px;
}


.imageContainer:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.imageContainer {
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.imageContainer img {
    width: 100%;
}
